<div class="my-theme-options-panel" layout="row" layout-align="start start">

    <div class="my-theme-options-panel-button md-primary-bg" ng-click="toggleOptionsPanel()">
        <md-icon md-font-icon="icon-cog" class="white-text"></md-icon>
    </div>

    <div class="my-theme-options-list" layout="column">

        <md-divider></md-divider>

        <div class="theme-option">
            <div class="option-title">Moneda:</div>

            <md-radio-group layout="row" layout-align="start center" ng-model="vm.currencyModel"
                            ng-change="vm.updateCurrencyView()">
                <md-radio-button value="colones">CRC&#8353;</md-radio-button>
                <md-radio-button value="dolares">USD$</md-radio-button>
            </md-radio-group>
        </div>

        <md-divider></md-divider>

    </div>
</div>