<div layout="row" layout-wrap>

    <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.GENERAL_INFORMATION">General Information</div>
            </header>

            <div class="content">

                        <form name="listForm">
                            <div layout-gt-sm="row"   layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_FIRST_NAME">Nombre</label>
                                    <input type="text" ng-model="vm.user.name">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_LAST_NAME">Apellido(s)</label>
                                    <input type="text" ng-model="vm.user.lastName" >
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row"  layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_EMAIL">Correo</label>
                                    <input type="text" ng-model="vm.user.email" >
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_PHONE">Teléfono</label>
                                    <input  type="text" ng-model="vm.user.phone"
                                            name="phone">                                          
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_MOBILE">Celular</label>
                                    <input type="text" ng-model="vm.user.mobile">
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row"  layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_EMAIL">Correo</label>
                                    <input type="text" ng-model="vm.user.email" >
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_PHONE">Teléfono</label>
                                    <input  type="text" ng-model="vm.user.phone"
                                            name="phone">                                          
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.CONTACT_COMPANY">Empresa</label>
                                    <input type="text" ng-model="vm.user.company">
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block md-icon-float">
                              <md-checkbox ng-model="vm.user.otherContact" 
                                           aria-label="Checkbox 1">
                                <span translate="EC.OTHER_CONTACT">Use other contact information?</span>
                              </md-checkbox>                              
                            </md-input-container>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.OTHER_NAME">Name</label>
                                    <input type="text" ng-model="vm.user.otherName"
                                           name="otherName"
                                           ng-required='vm.user.otherContact'>
                                      <div ng-messages="listForm.otherName.$error">
                                        <div ng-message="required">El nombre es requerido.</div>
                                      </div>                                           
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.OTHER_EMAIL">Email</label>
                                    <input type="email" name="otherEmail"
                                           ng-model="vm.user.otherEmail">
                                          <div ng-messages="listForm.otherEmail.$error">
                                                <div ng-message="email">Digite una dirección de correo válida.</div>
                                          </div>                                    
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="EC.OTHER_PHONE">Phone</label>
                                    <input type="text" ng-model="vm.user.otherPhone"
                                            name="otherPhone">
                                </md-input-container>
                            </div>
                            <div layout="row"  layout-align="center center">
                                <md-button class="md-primary">Guardar</md-button>
                            </div>

                        </form>

            </div>
        </div>

        <div class="profile-box info-box work md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.WORK">Work</div>
            </header>

            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.OCCUPATION">Occupation</div>
                    <div class="info">{{vm.about.work.occupation}}</div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.SKILLS">Skills</div>
                    <div class="info">{{vm.about.work.skills}}</div>
                </div>

                <div class="info-line">
                    <div class="title" translate="PROFILE.JOBS">Jobs</div>
                    <table class="info jobs">
                        <tr class="job" ng-repeat="job in vm.about.work.jobs">
                            <td class="company">{{job.company}}</td>
                            <td class="date">{{job.date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.CONTACT">Contact</div>
            </header>
            <div class="content">
                <div class="info-line">
                    <div class="title" translate="PROFILE.ADDRESS">Address</div>
                    <div class="info">{{vm.about.contact.address}}</div>
                </div>
                <div class="info-line">
                    <div class="title" translate="PROFILE.TEL">Tel.</div>
                    <div class="info" ng-repeat="tel in vm.about.contact.tel">
                        <span>{{tel}}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title" translate="PROFILE.WEBSITE">Website</div>
                    <div class="info" ng-repeat="website in vm.about.contact.websites">
                        <span>{{website}}</span>
                    </div>
                </div>
                <div class="info-line">
                    <div class="title" translate="PROFILE.EMAILS">Emails</div>
                    <div class="info" ng-repeat="email in vm.about.contact.emails">
                        <span>{{email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">
        <div class="profile-box friends md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.FRIENDS">Friends</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>454</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>
            <div class="content" layout="row" layout-wrap>
                <div class="friend" flex="20" ng-repeat="friend in vm.about.friends">
                    <img ng-src="{{friend.avatar}}">
                </div>
            </div>
        </div>

        <div class="profile-box groups md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.JOINED_GROUPS">Joined Groups</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>6</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>

            <div class="content">
                <div class="group" ng-repeat="group in vm.about.groups" layout="row"
                     layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                        <img ng-src="{{group.logo}}" class="logo" alt="{{group.name}}"/>

                        <div>
                            <div class="name">{{group.name}}</div>
                            <div class="category">{{group.category}}</div>
                            <div class="members">{{group.members}} people</div>
                        </div>
                    </div>
                    <md-button class="md-icon-button" aria-label="more" translate
                               translate-attr-aria-label="PROFILE.MORE">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

</div>