<div id="listing" class="page-layout simple left-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')"
                       aria-label="Toggle sidenav" translate translate-attr-aria-label="LISTING.TOGGLE_SIDENAV">
                <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
            </md-button>

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-account-box" class="s24"></md-icon>
                </span>
                <span class="logo-text" translate="LISTING.LISTING">Listing</span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper" layout="row" layout-align="start center">
            <label for="search">
                <md-icon md-font-icon="icon-magnify"></md-icon>
            </label>
            <md-input-container md-no-float class="m-0">
                <input id="search" placeholder="Search for anyone" type="text" ng-model="vm.search" translate
                       translate-attr-placeholder="LISTING.SEARCH_FOR_ANYONE">
            </md-input-container>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <div ng-show="vm.selectedListing.length > 0" class="selected-bar header animate-slide-down md-accent-bg"
         layout="row" layout-align="start center">

        <div class="close-button-wrapper" ng-click="vm.selectedListing =[]">
            <md-button layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-arrow-left" class="mr-8"></md-icon>
                <span translate="LISTING.BACK">Back</span>
            </md-button>
        </div>

        <div flex layout="row" layout-align="space-between center">

            <div>
                <span class="selected-contacts-count">
                    <span>{{vm.selectedListing.length}}</span>
                    <span translate="LISTING.SELECTED">selected</span>
                </span>

                <md-menu class="select-menu" ng-if="!vm.currentThread">
                    <md-button class="md-icon-button"
                               ng-click="$mdOpenMenu($event)"
                               aria-label="multi select toggle"
                               translate translate-attr-aria-label="LISTING.MULTI_SELECT_TOGGLE">
                        <md-icon md-font-icon="icon-menu-down"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="vm.selectAllListing()" translate="LISTING.SELECT_ALL">
                                Select all
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.deselectListing()" translate="LISTING.SELECT_NONE">
                                Select none
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <div class="multi-select-actions">
                <md-button class="md-icon-button" ng-click="vm.deleteSelectedListing($event)"
                           aria-label="delete selected" translate translate-attr-label="LISTING.DELETE_SELECTED">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>
            </div>

        </div>

    </div>
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">

        <!-- SIDENAV -->
        <md-sidenav class="sidenav main-sidenav md-white-bg" ms-scroll md-is-locked-open="$mdMedia('gt-md')"
                    md-component-id="sidenav"
                    ms-sidenav-helper ng-include="'app/main/apps/listing/sidenavs/main/main-sidenav.html'">
        </md-sidenav>
        <!-- / SIDENAV -->

        <!-- MAIN -->
        <div class="main">

            <!-- LIST LIST -->
            <md-list class="listing-list">

                <!-- LIST LIST HEADER -->
                <md-subheader class="md-no-sticky md-white-bg">

                    <div layout="row" layout-align="space-between center">

                        <div class="list-title" layout="row" layout-align="start center"
                             ng-hide="editGroupForm.$visible">
                            <span ng-if="vm.listType === 'all'" translate="LISTING.ALL_LISTING">All contacts</span>
                            <span ng-if="vm.listType === 'frequent'" translate="LISTING.FREQUENTLY_CONTACTED">Frequnetly
                                contacted</span>
                            <span ng-if="vm.listType === 'starred'" translate="LISTING.STARRED_LISTING">Starred
                                contacts</span>
                            <span ng-if="vm.listType.name">{{vm.listType.name}}</span>

                            <span ng-if="filteredListing.length" class="secondary-text contacts-count">
                                ({{filteredListing.length}})
                            </span>
                        </div>

                        <div class="edit-group-form" ng-show="vm.listType.name" layout="row"
                             layout-align="start center">
                            <span ng-show="editGroupForm.$visible"
                                  editable-text="vm.listType.name"
                                  e-form="editGroupForm"
                                  onaftersave="vm.editGroup()">
                            </span>

                            <md-button class="md-icon-button edit-group-button" ng-click="editGroupForm.$show()"
                                       ng-hide="editGroupForm.$visible" aria-label="edit group name" translate
                                       translate-attr-label="LISTING.EDIT_GROUP_NAME">
                                <md-icon md-font-icon="icon-pencil s18"></md-icon>
                            </md-button>

                            <md-button class="md-icon-button edit-group-button" ng-click="vm.deleteGroup($event)"
                                       ng-hide="editGroupForm.$visible" aria-label="delete group" translate
                                       translate-attr-label="LISTING.DELETE_GROUP">
                                <md-icon md-font-icon="icon-delete s18"></md-icon>
                            </md-button>
                        </div>

                        <div flex></div>

                        <md-menu>

                            <md-button class="md-icon-button" aria-label="Sort" translate
                                       translate-attr-aria-label="LISTING.SORT">
                                <md-icon md-font-icon="icon-sort-alphabetical"
                                         ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'name';vm.listOrderAsc = false"
                                               ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                                        <span translate="LISTING.FIRST_NAME">First Name</span>
                                        <small translate="LISTING.A_TO_Z">(A to Z)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'name'; vm.listOrderAsc = true"
                                               ng-style="vm.listOrder === 'name' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                                        <span translate="LISTING.FIRST_NAME">First Name</span>
                                        <small translate="LISTING.Z_TO_A">(Z to A)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'lastName';vm.listOrderAsc = false"
                                               ng-style="vm.listOrder === 'lastName' && vm.listOrderAsc=== false && {'font-weight':'500'}">
                                        <span translate="LISTING.LAST_NAME">Last Name</span>
                                        <small translate="LISTING.A_TO_Z">(A to Z)</small>
                                    </md-button>
                                </md-menu-item>

                                <md-menu-item>
                                    <md-button ng-click="vm.listOrder = 'lastName'; vm.listOrderAsc = true"
                                               ng-style="vm.listOrder === 'lastName' && vm.listOrderAsc=== true && {'font-weight':'500'}">
                                        <span translate="LISTING.LAST_NAME">Last Name</span>
                                        <small translate="LISTING.Z_TO_A">(Z to A)</small>
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>

                        </md-menu>

                    </div>

                </md-subheader>
                <!-- / LIST LIST HEADER -->

                <!-- LIST ITEM -->
                <md-list-item class="listing-item md-white-bg" md-ink-ripple
                              ng-repeat="list in vm.listing | filter: vm.search | filter: global.search | filterByIds:vm.filterIds |  orderBy: vm.listOrder :vm.listOrderAsc | filter:query as filteredListing track by list.id "
                              ng-click="vm.openListDialog($event, list)"
                              ng-style="{'transform': 'translate3d(0px, '+$index * 100+'%, 0px)', 'z-index': filteredListing.length - $index}"
                              ng-class="{'selected': vm.isSelected(list)}">

                    <md-checkbox ng-checked="vm.exists(list, vm.selectedListing)"
                                 ng-click="vm.toggleSelectListing(list, $event)"
                                 aria-label="{{vm.exists(list, vm.selectedListing) ? 'Deselect' : 'Select'}}">
                    </md-checkbox>

                    <img class="md-avatar" ng-if="list.avatar" alt="{{list.name}}"
                         ng-src="{{list.imageUrl}}"/>

                    <p class="text-truncate font-weight-600">{{list.sourceKey}}</p>

                    <p class="text-truncate font-weight-600">{{list.pubDate | date: 'dd/MMM/yyyy'}}</p>

                    <p class="email text-truncate hide show-gt-sm">
                        {{list.title}}
                    </p>

                    <p class="phone text-truncate hide show-gt-md">
                        {{ list.localPrice | currency: "₡" : 0 }} 
                    </p>

                    <p class="job-title text-truncate hide show-gt-lg">
                        {{list.jobTitle}}
                    </p>

                    <p class="company text-truncate hide show-gt-lg">
                        {{list.company}}
                    </p>

                    <div class="actions" layout="row" layout-align="start center">
                        <md-button class="md-icon-button  hide show-gt-xs"
                                   ng-click="$event.stopPropagation();vm.toggleInArray(list.id, vm.user.starred)"
                                   aria-label="Toggle starred" translate
                                   translate-attr-aria-label="LISTING.TOGGLE_STARRED">
                            <md-icon ng-if="vm.exists(list.id,vm.user.starred)" md-font-icon="icon-star"
                                     class="amber-fg"></md-icon>
                            <md-icon ng-if="!vm.exists(list.id,vm.user.starred)"
                                     md-font-icon="icon-star-outline"></md-icon>
                        </md-button>

                        <md-menu>
                            <md-button class="md-icon-button" aria-label="More" translate
                                       translate-attr-aria-label="LISTING.MORE">
                                <md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item>
                                    <md-button ng-click="vm.deleteListConfirm(contact, ev)"
                                               translate="LISTING.DELETE_CONTACT">
                                        Delete Contact
                                    </md-button>
                                </md-menu-item>

                                <md-divider ng-if="vm.user.groups"></md-divider>

                                <md-subheader class="md-no-sticky" ng-if="vm.user.groups">Groups</md-subheader>

                                <md-list-item ng-if="vm.user.groups" ng-repeat="group in vm.user.groups"
                                              ng-click="vm.toggleInArray(list.id,group.listIds)">
                                    <p class="pl-8"
                                       ng-style="vm.exists(list.id,group.listIds) && {'font-weight':'500'}">
                                        {{group.name}}
                                    </p>
                                </md-list-item>

                            </md-menu-content>
                        </md-menu>

                    </div>

                </md-list-item>
                <!-- LIST ITEM -->

            </md-list>
            <!-- / LIST LIST -->

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="filteredListing.length === 0">
                <p translate="LISTING.NO_RESULTS">No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->

        </div>
        <!-- / MAIN -->

    </div>
    <!-- / CONTENT -->

    <!-- ADD LIST BUTTON -->
    <md-button class="md-fab md-accent md-icon-button" id="add-list-button" ng-click="vm.openListDialog($event)"
               aria-label="add list" translate translate-attr-aria-label="LISTING.ADD_CONTACT">
        <md-icon md-font-icon="icon-account-plus"></md-icon>
    </md-button>
    <!-- / ADD LIST BUTTON -->

</div>
