    <script type="text/ng-template" id="control.tpl.html">
		<md-button class="md-raised " ng-click="controlClick()">
		    <div ng-show="!searching">
			    <md-icon md-font-icon="icon-map-marker-radius"></md-icon>
			    <span>Ir a mi dirección</span>
		    </div>
		    <div ng-show="searching">
			    <md-icon md-font-icon="icon-refresh"></md-icon>
			    <span>Localizando....</span>
		    </div>		    
		</md-button>
    </script>


    <ui-gmap-google-map center="simpleMarkerMap.center" zoom="simpleMarkerMap.zoom"
    					control="simpleMarkerMap.control" 
    					draggable="true" options="options">

        <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="mapCtrl" index="-1"></ui-gmap-map-control>

                <ui-gmap-marker coords="simpleMarkerMap.marker.coords" options="simpleMarkerMap.marker.options"  idkey="simpleMarkerMap.marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>