<div layout="row" layout-wrap>

    <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg">
                <div class="title" translate="PROFILE.GENERAL_INFORMATION">General Information</div>
            </header>

            <div class="content">

                        <form name="listForm">
                            <div layout-gt-sm="row"   layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_FIRST_NAME">Nombre</label>
                                    <input type="text" ng-model="vm.firebaseUser.displayName" 
                                           ng-readonly="true">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_MOBILE">Celular</label>
                                    <input type="text" ng-model="vm.user.mobile" >
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row"  layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_EMAIL">Correo</label>
                                    <input type="text" ng-model="vm.firebaseUser.email" 
                                    ng-readonly="true">
                                </md-input-container>

                            </div>

                            <div layout-gt-sm="row"  layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_EMAIL">Correo</label>
                                    <input type="text" ng-model="vm.user.email" >
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_PHONE">Teléfono</label>
                                    <input  type="text" ng-model="vm.user.phone"
                                            name="phone">                                          
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_COMPANY">Empresa</label>
                                    <input type="text" ng-model="vm.user.company">
                                </md-input-container>
                            </div>

                            <md-input-container class="md-block md-icon-float">
                              <md-checkbox ng-model="vm.user.otherContact" 
                                           aria-label="Checkbox 1">
                                <span translate="PROFILE.OTHER_CONTACT">Use other contact information?</span>
                              </md-checkbox>                              
                            </md-input-container>

                            <div layout-gt-sm="row" layout-align="start center">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.OTHER_NAME">Name</label>
                                    <input type="text" ng-model="vm.user.otherName"
                                           name="otherName"
                                           ng-required='vm.user.otherContact'>
                                      <div ng-messages="listForm.otherName.$error">
                                        <div ng-message="required">El nombre es requerido.</div>
                                      </div>                                           
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.OTHER_EMAIL">Email</label>
                                    <input type="email" name="otherEmail"
                                           ng-model="vm.user.otherEmail">
                                          <div ng-messages="listForm.otherEmail.$error">
                                                <div ng-message="email">Digite una dirección de correo válida.</div>
                                          </div>                                    
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label translate="PROFILE.CONTACT_PHONE">Phone</label>
                                    <input type="text" ng-model="vm.user.otherPhone"
                                            name="otherPhone">
                                </md-input-container>
                            </div>
                            <div layout="row"  layout-align="center center">
                                <md-button class="md-raised md-accent submit-button" 
                                           ng-disabled="listForm.$invalid || listForm.$pristine"
                                           ng-click="vm.saveUser(vm.user)">Guardar</md-button>                                
                            </div>

                            <!-- IMAGE UPLOADER -->
                            <div id="image-uploader"
                                 flow-init="vm.ngFlowOptions"
                                 flow-name="vm.ngFlow.flow"
                                 flow-files-submitted="vm.upload()"
                                 flow-file-success="vm.imageSuccess($file, $message)"
                                 flow-complete="vm.uploadComplete()"
                                 flow-file-added="!!{svg:1,png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                <md-button flow-btn class="add-img-button md-icon-button"
                                           aria-label="Add image" translate
                                           translate-attr-aria-label="NOTES.ADD_IMAGE">
                                    <md-icon md-font-icon="icon-file-image-box" class="s20"></md-icon>
                                </md-button>
                            </div>
                            <!-- / IMAGE UPLOADER -->

                        </form>

            </div>
        </div>

    </div>

    <div class="about-sidebar" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="35">
        <div class="profile-box friends md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.FRIENDS">Friends</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>454</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>
            <div class="content" layout="row" layout-wrap>
                <div class="friend" flex="20" ng-repeat="friend in vm.about.friends">
                    <img ng-src="{{friend.avatar}}">
                </div>
            </div>
        </div>

        <div class="profile-box groups md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" translate="PROFILE.JOINED_GROUPS">Joined Groups</div>
                <div class="more secondary-text">
                    <span translate="PROFILE.SEE">See</span>
                    <span>6</span>
                    <span translate="PROFILE.MORE">More</span>
                </div>
            </header>

            <div class="content">
                <div class="group" ng-repeat="group in vm.about.groups" layout="row"
                     layout-align="space-between center">
                    <div layout="row" layout-align="start center">
                        <img ng-src="{{group.logo}}" class="logo" alt="{{group.name}}"/>

                        <div>
                            <div class="name">{{group.name}}</div>
                            <div class="category">{{group.category}}</div>
                            <div class="members">{{group.members}} people</div>
                        </div>
                    </div>
                    <md-button class="md-icon-button" aria-label="more" translate
                               translate-attr-aria-label="PROFILE.MORE">
                        <md-icon md-font-icon="icon-dots-vertical"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>


</div>

