<div class="md-inline-form">

        <md-input-container flex="100" flex-gt-xs="50">        
		  <md-switch name="showMap" ng-model="vm.showMap" ng-change="showMapChanged()" aria-label="Mostrar mapa">
		    ¿Mostrar mapa de la dirección?
		  </md-switch>
        </md-input-container>

    <div class="content" layout="column" ng-show="vm.showMap">
		<p>Seleccione la ubicación con un doble click o moviendo el marcador</p>
 

        <script type="text/ng-template" id="control.tpl.html">
            <md-button class="md-raised " ng-click="buttonClick()">
                <div ng-show="!searching">
                    <md-icon md-font-icon="icon-map-marker-radius"></md-icon>
                    <span>Ir a mi dirección</span>
                </div>
                <div ng-show="searching">
                    <md-icon md-font-icon="icon-refresh"></md-icon>
                    <span>Localizando....</span>
                </div>          
            </md-button>
        </script>

        <ui-gmap-google-map center  = "map.center" 
        					zoom    = "map.zoom"
                            control = "map.control" 
                            events  = 'map.events'
                            options = "map.options">

            <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="ButtonController" index="-1"></ui-gmap-map-control>
                    <ui-gmap-marker coords="map.marker.coords" options="map.marker.options"  idkey="map.marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>

			

    </div>


</div>    