<md-dialog class="terms-dialog" aria-label="Terms & Conditions" ng-cloak>

    <!-- DIALOG TOOLBAR -->
    <md-toolbar class="md-accent" ng-class="'md-'+vm.board.settings.color+'-bg'">

        <div class="md-toolbar-tools">

            <h2 class="title">Términos y Condiciones</h2>

            <span flex></span>

            <!-- CLOSE DIALOG BUTTON -->
            <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="close dialog">
                <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
            </md-button>
            <!-- / CLOSE DIALOG BUTTON -->

        </div>
    </md-toolbar>
    <!-- / DIALOG TOOLBAR -->

    <!-- DIALOG CONTENT -->
    <md-dialog-content ms-scroll>

        <div class="row" layout="column">

                <div class="title" >El servicio que ofrecemos</div>
                <div class="description">
                    Usted conviene que los dueños de esta Página Web se reserven exclusivamente el derecho y puedan, en cualquier momento con o sin aviso y sin ninguna responsabilidad hacia usted, a modificar o descontinuar el uso esta Página Web y sus servicios o suprimir los datos que usted proporcione, temporal o permanentemente. No tendremos ninguna responsabilidad por la puntualidad, la cancelación, la falta de almacenaje, la inexactitud, o la entrega incorrecta de datos o información.
                </div>
                <div class="title" >Consentimiento al uso de la información</div>
                <div class="description">
                    La información del anunciante estará disponible públicamente en nuestra red de sitios a fin de facilitar a los potenciales consumidores interesados el contacto con el anunciante.
                </div>                
                <div class="title" >Limitación de responsabilidad</div>
                <div class="description">
                    Ud entiende y está de acuerdo en que Novatec Internacional S.A. no está obligada por ningún daño directo o indirecto resultante del uso del serviio o de la inhabilidad de utilizar el servicio.
                </div>
        </div>

                <md-dialog-actions>

                    <md-button class="md-raised md-accent submit-button" ng-click="vm.closeDialog()">
                        ACEPTO
                    </md-button>

                </md-dialog-actions>   



    </md-dialog-content>
    <!-- / DIALOG CONTENT -->

</md-dialog>